%h1= @user.username

#push-ups.exercises
  = render partial: 'exercises', locals: { exercises: @push_ups, table_id: 'push-ups-table' }

  #new-push-up.new-exercise
    = render partial: 'exercises/form', locals: { exercise: @new_push_up }
  
#sit-ups.exercises
  = render partial: 'exercises', locals: { exercises: @sit_ups, table_id: 'sit-ups-table' }

  #new-sit-up.new-exercise
    = render partial: 'exercises/form', locals: { exercise: @new_sit_up }
