#new-push-up.new-exercise.pull-md-right
  = render partial: 'exercises/add', locals: { exercise: @new_push_up, title: 'Add Push-Up' }
#new-sit-up.new-exercise.pull-md-right
  = render partial: 'exercises/add', locals: { exercise: @new_sit_up, title: 'Add Sit-Up' }

= render partial: 'exercises/form_modal', collection: @push_ups, as: :exercise, locals: { title: 'Edit' }
= render partial: 'exercises/form_modal', collection: @sit_ups, as: :exercise, locals: { title: 'Edit' }

#graph.big-plot
  = high_chart("plot", @chart) do |chart|
    = raw "options.plotOptions.series.point.events.click = function() { $('#'+this.options.modal).modal('show'); }"
