- url = user_stat.persisted? ? url_for(controller: 'weights', action: 'update') : url_for(controller: 'weights', action: 'create')
- method = user_stat.persisted? ? :put : :post
= simple_form_for :user_stat, url: url, method: method do |f|
  = f.input :user_id, as: :hidden
  .form-inputs
    = f.input :weight, required: true
    = f.input :date, as: :date_picker
  .form-actions
    = f.button :submit, class: 'btn btn-secondary'
    - if user_stat.persisted?
      = link_to 'Delete', weight_path(user_stat), method: :delete, class: 'btn btn-danger'
