.push-up-challenge-entry.card
  .card-block
    %h4.card-title
      .row
        .col-xs-9
          = "Week #{entry.week}, Day #{entry.day}"
        .col-xs-2
          %strong
            = sigma
          = entry.total_reps
    .card-block
      .card-text
        = simple_form_for entry do |f|
          .row
            %p
              Rest:
              = entry.rest
              Sec
          .row
            .form-group
              .col-xs-1
                %label Sets
              - entry.sets.each do |reps|
                .col-xs-2
                  %input{ type: 'number', name: 'push_up_challenge_entry[sets][]', value: reps, class: 'form-control' }
          .row
            .form-group
              .col-xs-1
                %label Date
              .col-xs-11
                = f.input :done_at, as: :date_picker, label: false, input_html: { value: Date.today }
          .form-actions
            = f.button :submit, 'Done'
            = link_to 'Delete', push_up_challenge_entry_path(entry), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" }

          
