.push-up-challenge-entry.card
  .card-block
    %h4.card-title
      .row
        .col-xs-9
          = "Week #{entry.week}, Day #{entry.day}"
        .col-xs-2
          %strong
            = sigma
          = entry.total_reps
    .card-block
      .card-text
        = simple_form_for entry do |f|
          .row
            .col-xs-1
              %label Sets:
            - entry.sets.each do |reps|
              .col-xs-1
                %input{ type: 'number', name: 'push_up_challenge_entry[sets][]', value: reps, class: 'form-control' }
          = f.input :done_at, as: :date_picker, input_html: { value: Date.today }
          .form-actions
            = f.button :submit, 'Done'
            = link_to 'Delete', push_up_challenge_entry_path(entry), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure?" }

          
