= simple_form_for exercise do |f|
  = f.input :type, as: :hidden
  = f.input :user_id, as: :hidden
  .form-inputs
    = f.input :repetitions, required: true
    = f.input :duration
    = f.input :date, as: :date_picker
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
    - if exercise.persisted?
      = link_to 'Cancel', :back, class: 'btn btn-secondary'
