- url = exercise.persisted? ? url_for(controller: 'exercises', action: 'update') : url_for(controller: 'exercises', action: 'create')
- method = exercise.persisted? ? :put : :post
= simple_form_for exercise, url: url, method: method, remote: true do |f|
  = f.input :type, as: :hidden
  = f.input :user_id, as: :hidden
  .form-inputs
    = f.input :repetitions, required: true
    = f.input :duration
    = f.input :date, as: :date_picker
  .form-actions
    = f.button :submit, class: 'btn btn-secondary'
    - if exercise.persisted?
      = link_to 'Delete', exercise_path(exercise), method: :delete, remote: true, class: 'btn btn-danger'
