<nav class="navbar navbar-light bg-faded page-navigation">
  <div class="navbar-brand">
    <%= image_tag 'belt.png', height: '32' %>
  </div>
  <ul class="nav navbar-nav">
    <li class="<%= nav_item_classes(user_exercises_path(current_user)) %>">
      <%= link_to user_exercises_path(current_user), class: 'nav-link' do %>
      <%= glyph 'bar-chart fa-fw' %>
      Exercises
      <% end %>
    </li>
    <li class="<%= nav_item_classes(user_weights_path(current_user)) %>">
      <%= link_to user_weights_path(current_user), class: 'nav-link' do %>
      <%= glyph 'line-chart fa-fw' %>
      Weight
      <% end %>
    </li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
	<%= glyph 'user fa-fw' %>
	<%= current_user.username %>
      </a>
      <div class="dropdown-menu">
	<%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
	<%= glyph 'cog fa-fw' %>
	Account
	<% end %>
	<%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
	<%= glyph 'sign-out fa-fw' %>
	Sign Out
	<% end %>
      </div>
    </li>
  </ul>
</nav>
