<!DOCTYPE html>
<html>
  <head>
    <title>Orange Belt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
      <nav class="page-navigationbar">
	<ul class="nav">
	  <li class="nav-item dropdown">
	    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
	      <%= glyph 'user fa-fw' %>
	      <%= current_user.username %>
	    </a>
	    <div class="dropdown-menu">
	      <%= link_to user_path(current_user), class: 'dropdown-item' do %>
	      <%= glyph 'line-chart fa-fw' %>
	      Overview
	      <% end %>
	      <div class="dropdown-divider"></div>
	      <%= link_to edit_user_registration_path, class: 'dropdown-item' do %>
	      <%= glyph 'cog fa-fw' %>
	      Account
	      <% end %>
	      <%= link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do %>
	      <%= glyph 'sign-out fa-fw' %>
	      Sign Out
	      <% end %>
	    </div>
	  </li>
	</ul>
      </nav>
      <% end %>
    </header>
    
    <div id="container">
      <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
